<header>
  {{> navigation navigation}}
  {{> logo logo}}
</header>

<div class="headband">
  <div class="headband-content">
    {{> hotTopics hotTopics}}
    {{> social social}}
  </div>
</div>

<div class="pageLead">
  {{> pageLead pageLead}}
</div>

{{> breadcrumbs breadcrumbs}}

<div class="content-grid">
  {{> lead lead}}
  <div class="grid-right">
    {{> headline headline}}
    {{> subheadline subHeadline}}
    {{> audioPlayer audioPlayer}}
    {{> actions actions}}
  </div>
</div>