<div class="jonathan-es-gay">
  {{> navigation navigation}}
  {{> logo logo}}
</div>


{{> hotTopics hotTopics}}
{{> social social}}

{{> pageLead pageLead}}

{{> breadcrumbs breadcrumbs}}

{{> lead lead}}

{{> headline headline}}
{{> subheadline subHeadline}}

{{> audioPlayer audioPlayer}}

{{> actions actions}}
