<header>
  {{> navigation navigation}}
  {{> logo logo}}
</header>

<div class="headband">
  {{> hotTopics hotTopics}}
  {{> social social}}
</div>

<div class="pageLead">
  {{> pageLead pageLead}}
</div>

<div class="breadcrumbs">
  {{> breadcrumbs breadcrumbs}}
</div>

<div class="content">
  {{> lead lead}}

  {{> headline headline}}
  {{> subheadline subHeadline}}

  {{> audioPlayer audioPlayer}}

  {{> actions actions}}
</div>