header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: @space-sm @space-md;

  @media screen and (min-width: @desktop) {
    max-width: @wrapper-main;
    margin: auto;
  }
}

.headband {
  padding: @space-xs @space-md;
  background-color: @blue-dark;
  color: @white;

  .headband-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: @space-sm;
    @media screen and (min-width: @desktop) {
      max-width: @wrapper-main;
      margin: auto;
    }
  }
  
}