{{#each this}}
<div class="component-action">
  <span class="actions-title">Compartir:</span>
  <div class="actions">
    {{#each items}}
    <button class="actions__btn actions__btn--{{body}}" aria-label="Compartir en {{body}}"
      title="Compartir en {{body}}">

      {{#if (includes body "Facebook")}}
      <svg class="actions__iconFb" viewBox="0 0 512 512" aria-hidden="true">
        <path
          d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z" />
      </svg>
      {{/if}}

      {{#if (includes body "Tweet")}}
      <svg class="actions__iconTweet" viewBox="0 0 512 512" aria-hidden="true">
        <path
          d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" />
      </svg>
      {{/if}}

      {{#if (includes body "WhatsApp")}}
      <svg class="actions__iconWhatsapp" viewBox="0 0 448 512" aria-hidden="true">
        <path fill="#00be0a"
          d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157z" />
        <path fill="#ffffff"
          d="M309.4 307.9c-5.3-2.7-31.1-15.3-35.9-17.1-4.8-1.8-8.3-2.7-11.8 2.7-3.5 5.3-13.5 17.1-16.5 20.6-3 3.5-6 4-11.3 1.3-31.1-15.5-51.5-27.7-72.1-62.9-5.5-9.5 5.5-8.8 15.8-29.4 1.8-3.5.9-6.6-.4-9.3-1.3-2.7-11.8-28.5-16.1-39-4.2-10.1-8.5-8.7-11.8-8.9-3-.2-6.6-.2-10.1-.2s-9.3 1.3-14.1 6.6c-4.8 5.3-18.5 18.1-18.5 44.1s18.9 51.1 21.5 54.6c2.7 3.5 37.2 56.8 90.2 79.7 12.6 5.5 22.4 8.8 30 11.3 12.6 4 24 3.4 33 2.1 10.1-1.5 31.1-12.7 35.5-25 4.4-12.4 4.4-23 .3-25.2-4-2.2-7.5-3.5-12.8-6.2z" />
      </svg>

      {{/if}}

    </button>
    {{/each}}
  </div>
  {{/each}}
</div>