<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ol class="breadcrumbs-list">
    {{#each this}}
      <li class="breadcrumbs-item">
        {{#if href}}
          <a href="{{href}}" class="breadcrumbs-link">
            {{body}}
          </a>
        {{else}}
          <span class="breadcrumbs-current">
            {{body}}
          </span>
        {{/if}}
      </li>
    {{/each}}
  </ol>
</nav>
