<nav class="navigation">
  <button
    class="navigation__toggle"
    aria-label="Abrir menú"
    aria-expanded="false"
  >
    <span></span>
    <span></span>
    <span></span>
  </button>

  {{#each this}}
    <ul class="navigation__list">
      {{#each items}}
        <li class="navigation__item">
          <a
            href="{{href}}"
            class="navigation__link{{#if isCurrent}} is-active{{/if}}"
          >
            {{text}}
          </a>
        </li>
      {{/each}}
    </ul>
  {{/each}}
</nav>
