.component-action {
  margin-top: 10px;

  @media (min-width: @desktop) {
    justify-content: flex-start;
  }

  .actions-title {
    font-size: 14px;
    font-weight: 600;
    color: @black;
  }

  .actions {
    display: flex;
    gap: @space-lg;
    flex-direction: row;

    &__btn {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0;
      background: transparent;
      cursor: pointer;
    }

    &__iconFb {
      width: 40px;
      height: 40px;
      fill: blue;
    }

    &__iconTweet {
      width: 40px;
      height: 40px;
      fill: #1c9deb;
    }

    &__iconWhatsapp {
      width: 40px;
      height: 40px;
    }
  }
}