.logo {
    display: flex;
    align-items: center;

    @media screen and (min-width: @desktop) {
        position: absolute;
        left: 180px;
    }

    &__link {
        display: inline-block;
    }

    &__image {
        max-height: 32px;
        width: auto;
    }
}