.social {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: #fff; 
    display: block;
  }
}
